<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<div style="padding-top: 20px;" class="container-inner">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
    <form action="/user/borrowwing" method="GET" class="d-flex justify-content-center  form-inline md-form mr-auto mb-4">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search" id="search"
            aria-label="Search">
        <button onclick="window.location.href = '/search?';" class="btn aqua-gradient btn-rounded btn-sm my-0"
            type="submit">Tìm kiếm</button>
    </form>
    <div class="d-flex justify-content-center align-items-center">
        <span style="font-size:20px;margin-right:20px;font-weight:bold">Show</span>
        <div class="custom-control custom-radio custom-control-inline">
            <input onchange="selectParam('type','')" type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample">
            <label style="color: rgb(8, 84, 199);font-weight:bold" class="custom-control-label" for="defaultInline1">All</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input onchange="selectParam('type','Pending')" type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample">
            <label style="color: rgb(8, 84, 199);font-weight:bold" class="custom-control-label" for="defaultInline1">Pending Requests</label>
        </div>

        <!-- Default inline 2-->
        <div class="custom-control custom-radio custom-control-inline">
            <input onchange="selectParam('type','Borrowing')" type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample">
            <label style="color: rgb(204, 3, 20);font-weight:bold" class="custom-control-label" for="defaultInline2">Borrowing Books</label>
        </div>

        <!-- Default inline 3-->
        <div class="custom-control custom-radio custom-control-inline">
            <input onchange="selectParam('type','Returned')" type="radio" class="custom-control-input" id="defaultInline3" name="inlineDefaultRadiosExample">
            <label style="color: rgb(2, 70, 5);font-weight:bold" class="custom-control-label" for="defaultInline3">Returned Books</label>
        </div>
    </div>
    {{#each allBorrowingBook}}
    <div style="margin:15px 0;padding:10px 10px;border: 2px solid black" class='book row '>
        <div class='col-4 book-img'>
            <img style="width:90%" src={{Book.imgID}}>
        </div>
        <div class='col-8 book-info'>
            <h1 style="font-size: 35px;font-weight:bold" class='book-title'>{{Book.id}}.{{Book.title}}<span
                    style="color: blueviolet;font-weight:bold;margin-left:7px">[{{status}}]</span></h1>
            <h3 style="margin-bottom:15px;color:#131254;font-size:16px;font-weight:bold" class='book-author'>
                {{Book.author}}</h3>
            <span style="color: orange;" class="fa fa-star checked"></span>
            <span style="color: orange;" class="fa fa-star checked"></span style="color: orange;">
            <span style="color: orange;" class="fa fa-star checked"></span style="color: orange;">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <p style="margin-bottom:20px" class='book-des'>{{Book.description}}</p>
            {{!-- <a href="/search/{{id}}" class='borrowBookBtn' id='borrow'>{{status}}</a> --}}
        </div>
    </div>
    {{/each}}
    <nav aria-label="Page navigation example" id="pagination">
            {{{createPagination  pagination leftText="Prev" rightText="Next" paginationClass="pagination"}}}
        </nav>
</div>
<script>

    let urlParams = new URLSearchParams(location.search);
    let params = {
        limit: 4,
        page: 1,
        kine: ''
    }

    $("#pagination li").addClass('page-item');
    $("#pagination li a").addClass('page-link');
     let savePage = urlParams.get('page');
        $("#pagination li a").each((index,item)=>{
            let page = $(item).attr('href').split('=')[1];
            urlParams.set('page', page);
            let href = '/user/borrowwing?' + urlParams.toString();
            $(item).attr('href',href);
            $(item).attr('href', href);
        })
    urlParams.set('page', savePage);

    $("#sort").val(urlParams.get('sort'));
    $("#kind").val(urlParams.get('kind'));
    $("#language").val(urlParams.get('language'));
    for (let key in params) {
        if (!urlParams.has(key)) {
            urlParams.append(key, params[key]);
        }
    }

    function selectParam(key, value) {
        console.log("Clicked")
        urlParams.set(key, value)
        let url = '/user/borrowwing?' + urlParams.toString();
        location.href = url;
    }
    
</script>
<!-- Datepicker moment with locales -->
<script type="text/javascript" language="javascript" src="datetimepicker/js/moment-with-locales.js"></script>
<!-- Propeller textfield js -->
<script type="text/javascript" src="dist/js/propeller.min.js"></script>
<!-- Propeller Bootstrap datetimepicker -->
<script type="text/javascript" language="javascript" src="datetimepicker/js/bootstrap-datetimepicker.js"></script>