<div class="container-inner">
    {{#with book}}
    <form method="POST" action="/search/{{id}}">
        <div class="list-borrow">
            
            <div style='margin: 15px 15px; padding: 15px 15px ; border : 2px solid #131354' class='book row'>
                <div class='col-4 book-img'>
                    <img src={{imgID}}>
                </div>
                <div class='col-8 book-info'>
                    <h1 class='book-title'>{{id}}. {{title}}</h1>
                    <h3 class='book-author'>{{author}}</h3>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <p style="font-weight: bold; font-size:18px">Decription</p>
                    <p class='book-des'>{{description}}</p>
                </div>
                <div style="margin-top: 20px;" class='certificate-container'>
                    <div class='note'><textarea rows='5' cols='30' name="note" id="note" placeholder='Ghi chú'></textarea></div>
                    <div class='appointment'><b>Ngày hẹn mượn:</b> <input id="date" name="date" type='date'></div>

                </div>
            
            {{/with}}
            <div class="col-12">                         
            {{#if isLoggedIn}}
            <button type="submit" class="btn btn-primary">Mượn sách </button>
            {{else}} 
            <a href="/user/login" class="btn btn-primary">Mượn sách </a>
            {{/if}}
            </div>  
            </div>
        </div>
    </form>
</div>