<section class="body container">
    <div class="content container-inner">
        <div class="top">
            <h5 class="heading-title">Tìm kiếm </h5>
            <form class="d-flex justify-content-center  form-inline md-form mr-auto mb-4">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit">Search</button>
            </form>
        </div>
        <div class="filter">
            <div class="filter-btns btn-group d-flex justify-content-center" role="group" aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn  dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sắp xếp theo
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#">Tên sách</a>
                        <a class="dropdown-item" href="#">Tên tác giả</a>
                    </div>
                </div>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Thể loại
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#">Văn học</a>
                        <a class="dropdown-item" href="#">Chuyên ngành CNTT</a>
                    </div>
                </div>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ngôn ngữ
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#">Tiếng Việt</a>
                        <a class="dropdown-item" href="#">Tiếng Anh</a>
                    </div>
                </div>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Khóa học
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#">Nhập môn lập trình</a>
                        <a class="dropdown-item" href="#">Trí tuệ nhân tạo</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-books">
            {{#each books}}
                <div class='book row'>
                    <div class='col-4 book-img'>
                        <img src={{imgID}}>

                    </div>
                    <div class='col-8 book-info'>
                        <h1 class='book-title'>{{title}}</h1>
                        <h3 class='book-author'>{{author}}</h3>
                        <p class='book-des'>{{description}}</p>
                        <a href="/search/{{@index}}" class='borrowBookBtn' id ='borrow'>Mượn sách</a>
                    </div>
                </div>
            {{/each}}
        </div>
        {{{createPagination pagination }}}
        {{!-- <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item ">
                    <a class="page-link" href="#" tabindex="-1">Trước</a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item ">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Sau</a>
                </li>
            </ul>
        </nav> --}}
    </div>
</section> 
<script src="/js/main.js"></script>